html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}