@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-weight:500">Foremost Authority on Good Humour</p>
    <img src="https://imgs.search.brave.com/Ug-prWSLIEuQ1oZunJJ01yMYKPJTwX2MEjKJj80wmVc/rs:fit:948:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Y/Y1RlZElEaHRQbVFP/anAtMi1keVB3SGFE/dCZwaWQ9QXBp" alt="Cow Joke" width="900" height="400">
</div>
